<h2> {{ items[0].dist }}km ACP BREVET<h2>
    
<h4>KM  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Open
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Close</h4>
{% for i in range (20) %}
<h5>{{items[0].km[i]}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{items[0].open[i]}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{items[0].close[i]}}</h5>
{% endfor %}
<br>
<button id="Home">Home Page</button>


<script type="text/javascript">
    document.getElementById("Home").onclick = function () {
    window.location = "http://0.0.0.0:5000/";
    };
</script>
